.ErrorsPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 20vh;
    border: 2px dashed black;
}